# FlowZint Global Gitignore

# Environments
.env
.env.*
!.env.example
!.env.local.example

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
build/
dist/
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Celery
celerybeat-schedule
celerybeat.pid

# Scratch/Zip
*.zip
*.tar.gz
